@charset "UTF-8";
/*SASS para luego compilarse con CMD*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");
:root {
  /*Colores*/
  --color-azul: #006EBB;
  --color-verde1: #099138;
  --color-verde2: #00B883;
  --color-oscuro: #113234;
  --color-oscuro2: #2F676A;
  --color-gris1: #7EA7AA;
  --color-gris2: #C7D9DA;
  --color-claro1: #EFF3F5;
  --color-claro2: #FFFFFF;
  /*Gradientes usados en botones para hover*/
  --gradiente: linear-gradient(to top, var(--color-verde2), var(--color-azul));
  /*Color con transparencia*/
  --color-oscuro2-transparencia: #2f676a85;
  --color-azul-transparencia: #006dbbc4;
  /*Otras variables*/
  --margen-lateral: 8%;
  --margen-lateral2: 5%;
  --margen-lateral3: 3%;
  --altura-linea: 120%;
  --altura-linea2: 150%;
  --altura-header: 10.5rem;
  --altura-header2: 8.6rem;
  --altura-header3: 8rem;
}

/*Fuentes principales*/
/*font-family: 'Fira Sans', sans-serif;*/
/*Fira Sans--> Regular(400), Medium(500), Semibold(600), Bold(700)*/
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /*Permite scrollear de forma suave al dar clic al botón SUBIR*/
}

body {
  font-size: 16px; /*1rem = 10px*/
}

/*--------------------------------------------*/
/*Utilizando NESTING en el NAVBAR*/
.navbar {
  padding: 0;
}
.navbar-nav.align-bottom {
  margin-top: 3.6rem;
}
.navbar1 {
  background-color: var(--color-claro2) !important;
  padding-left: var(--margen-lateral);
  padding-right: var(--margen-lateral);
}
.navbar1__boton {
  border: 0;
}
.navbar1__boton i {
  height: 6rem;
  font-size: 2.4rem;
  padding: 1.2rem;
}
.navbar1-brand {
  height: 10.5rem !important;
}
.navbar1-brand .logo {
  height: 100%;
  padding: 1.6rem 0 1.6rem 0;
}
.navbar1 .nav-item a {
  padding: 1.6rem 2.4rem !important;
  color: var(--color-oscuro2) !important;
}
.navbar1 .nav-item a.nav-link {
  font-size: 2.2rem;
  border-bottom: 0.5rem solid var(--color-claro2);
}
.navbar1 .nav-item a.nav-link:hover, .navbar1 .nav-item a.nav-link:active {
  color: var(--color-azul) !important;
  font-weight: 500 !important;
  font-size: 2.2rem !important;
  border-bottom: 0.5rem solid var(--color-azul);
}
.navbar1 .dropdown-menu {
  padding: 0;
}
.navbar1 .dropdown-menu li {
  background-color: var(--color-claro1) !important;
}
.navbar1 .dropdown-menu li a {
  color: var(--color-oscuro2) !important;
}
.navbar1 .dropdown-menu li a:hover, .navbar1 .dropdown-menu li a:active {
  background-color: var(--color-azul) !important;
  color: var(--color-claro2) !important;
  font-weight: 500 !important;
}

/*--------------------------------------------*/
/*Utilizando NESTING para el HEADER*/
.cabecera {
  width: 100%;
  height: 48rem;
  background-image: url(images/Imag_Inicio_1b.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: right center;
  display: flex;
  align-items: center;
}
.cabecera__cta {
  width: 60%;
  height: 100%;
  padding-left: var(--margen-lateral);
  padding-right: 3.6rem;
  display: grid;
  align-content: center;
}
.cabecera__cta h1 {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-azul);
  margin-bottom: 3.2rem;
  line-height: var(--altura-linea);
}
.cabecera__cta p {
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
  line-height: var(--altura-linea);
}
.cabecera__cta a {
  background-color: var(--color-azul);
  color: var(--color-claro2);
  text-decoration: none;
  padding: 1rem 2.4rem;
  font-size: 2.2rem;
  border-radius: 24px;
  justify-self: start;
}
.cabecera__cta a:hover {
  background-image: var(--gradiente);
}

/*--------------------------------------------*/
/* Área de banner PAGINAS */
/* banner2 = nosotros / banner3 = encuadernados / banner4 = empastados / banner5 = contacto
*/
.banner2 { /*nosotros*/
  width: 100%;
  height: 36rem;
  background-image: url(../images/Imag_Nosotros_1b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner3 { /*encuadernados*/
  height: 36rem;
  background-image: url(../images/Imag_Encuadernados_1b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner4 { /*empastados*/
  height: 36rem;
  background-image: url(../images/Imag_Empastados_1b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner5 { /*contacto*/
  height: 36rem;
  background-image: url(../images/Imag_Inicio_3b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_desc {
  width: 55%;
  height: 100%;
  background-color: var(--color-azul);
  padding-left: var(--margen-lateral);
  padding-right: 3.6rem;
  display: grid;
  align-content: center;
}

.banner2 h1, .banner3 h1, .banner4 h1, .banner5 h1 {
  font-size: 3.6rem;
  color: var(--color-claro2);
  margin-bottom: 3.2rem;
  line-height: var(--altura-linea);
}

.banner_desc p {
  font-size: 2.2rem;
  color: var(--color-claro2);
  margin-bottom: 3.2rem;
  line-height: var(--altura-linea);
}

/*--------------------------------------------*/
/*Propiedades y valores para los títulos*/
h2 {
  color: var(--color-azul);
  font-weight: 600;
}

p span {
  font-weight: 500;
}

/*Algunas clases aplicadas a tos textos con SPAN*/
.mayusculas {
  text-transform: uppercase;
}

.normal {
  font-weight: normal;
}

.textos h2 {
  margin-bottom: 1.6rem;
}

/*--------------------------------------------*/
/*Nesting para las 4 secciones del main INICIO*/
.experiencia__grupo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-left: var(--margen-lateral);
  margin-right: var(--margen-lateral);
  line-height: var(--altura-linea);
  grid-gap: 2.4rem 1.6rem;
}
.experiencia__grupo .experiencia {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 1.6rem;
  /* Estilos para la imagen circular */
}
.experiencia__grupo .experiencia .experiencia__desc {
  flex-direction: column;
  margin-left: 2.4rem;
}
.experiencia__grupo .experiencia .experiencia__desc h2,
.experiencia__grupo .experiencia .experiencia__desc p {
  line-height: var(--altura-linea);
  margin-top: 1.6rem;
}
.experiencia__grupo .experiencia .experiencia__imag img {
  width: 12.7rem;
  height: 12.7rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/*--------------------------------------------*/
/*Esta es para el main PAGINAS*/
main.informacion {
  margin-top: 0rem;
  margin-bottom: 0rem;
  grid-gap: 0rem 0rem;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: var(--margen-lateral);
  margin-right: var(--margen-lateral);
  line-height: var(--altura-linea);
  justify-content: space-evenly;
}

.informacion__grupo {
  width: 100%;
  display: flex;
  align-items: normal;
  margin: 5.2rem 2.4rem;
  gap: 4.8rem;
}

.informacion__grupo__desc {
  flex-direction: column;
}

.informacion__grupo__desc h2, .informacion__grupo__desc p, .informacion__grupo__desc ul li {
  line-height: 140%;
  margin-top: 1.6rem;
}

.informacion__grupo__desc ul li {
  margin-left: 3.2rem;
}

/* Estilos para la imagen circular */
.informacion__grupo img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/*--------------------------------------------*/
/*Sección que se repite al FINAL de las páginas*/
footer {
  background-color: var(--color-azul);
  padding-left: var(--margen-lateral);
  padding-right: var(--margen-lateral);
  padding-top: 4rem;
}
footer .whatsapp {
  width: 4rem;
  height: 4rem;
  bottom: 14rem;
  right: 8rem;
  position: fixed;
}
footer .subir {
  width: 5rem;
  height: 5rem;
  bottom: 3rem;
  right: 6rem;
  position: fixed;
  background-color: var(--color-oscuro2-transparencia);
  color: var(--color-claro2);
  border-radius: 50%;
  text-align: center;
  line-height: var(--altura-linea2);
  font-size: 3.5rem;
  box-shadow: 0 0 8px;
}
footer .columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-claro2);
  gap: 1.6rem;
}
footer .columnas .columnas__section {
  display: flex;
  flex-direction: column;
}
footer .columnas .columnas__section p {
  margin-bottom: 1.6rem;
}
footer .columnas .columnas__section__navbar a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
footer .columnas .columnas__section__contact h3 {
  margin-bottom: 1.6rem;
}
footer .columnas .columnas__section__navbar2 {
  width: 100%;
  margin-top: 1rem;
  margin-right: 3.2rem;
}
footer .columnas .columnas__section__navbar2 a {
  margin-right: 1.6rem;
}
footer hr {
  margin: 0.1rem;
}
footer .linea__horizontal {
  width: 100%;
  border: none;
  border-top: 0.1rem solid var(--color-claro1);
  margin-top: 3.5rem;
}

.final {
  background-color: var(--color-azul);
  padding-top: 1.6rem;
  padding-bottom: 4.8rem;
  padding-left: var(--margen-lateral);
  padding-right: var(--margen-lateral);
}
.final .final__copyright {
  float: left;
}
.final .final__por {
  float: right;
}
.final .final__por a {
  text-decoration: none;
}
.final .columnas__section__navbar a,
.final .columnas__section__contact h3,
.final .columnas__section__contact p,
.final .final p,
.final .final__por a {
  font-size: 1.6rem;
  line-height: var(--altura-linea2);
  color: var(--color-claro2);
}

/*--------------------------------------------*/
/*Inicia las media Queries*/
/*sm de Bootstrap*/
@media only screen and (min-width: 0) and (max-width: 576px) {
  .experiencia.md.sm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    text-align: center;
  }
  .experiencia__desc.md.sm h2 {
    margin-top: 1.6rem;
  }
  /* Estilos para la imagen circular */
  .experiencia__imag.md.sm img {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  /*--------------------------------------------*/
  /*Esta es para el main PAGINAS*/
  /* Estilos para la imagen circular */
  .informacion__grupo img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
/*md de Bootstrap*/
@media only screen and (max-width: 768px) {
  /*Trabajando el NAVBAR*/
  .navbar1.md {
    padding-left: var(--margen-lateral3);
    padding-right: var(--margen-lateral3);
    height: var(--altura-header3);
  }
  .logo.md {
    width: 18rem;
    height: auto;
    padding: 1.2rem 0 1.2rem 0;
  }
  .navbar1__boton i {
    height: 7rem;
    font-size: 2.4rem;
    padding: 1.2rem;
  }
  /*----------------------------------*/
  /*Sección experiencias de INICIO*/
  .experiencia__grupo.md {
    margin-left: var(--margen-lateral2);
    margin-right: var(--margen-lateral2);
    line-height: var(--altura-linea);
    row-gap: 1.6rem;
  }
  .experiencia__desc.md h2 {
    margin-top: 0rem;
  }
  /* Estilos para la imagen circular */
  .experiencia__imag.md img {
    width: 9.2rem;
    height: 9.2rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  /*--------------------------------------------*/
  /*Esta es para el main PAGINAS*/
  .informacion.md {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
  }
  .informacion__grupo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem;
    gap: 2.4rem;
  }
  .informacion__grupo.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  /* Estilos para la imagen circular */
  .informacion__grupo img {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  /*----------------------------------*/
  /*Esta sección se repite al FINAL de todas las páginas*/
  .columnas.md {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .columnas__section__contact {
    display: grid;
    grid-template-columns: 1fr;
  }
  .logo2.md {
    display: block;
    margin: 0 auto;
  }
}
/*lg de Bootstrap*/
@media only screen and (max-width: 992px) {
  /*Trabajando el NAVBAR*/
  .navbar1 {
    width: 100%;
    height: var(--altura-header2);
  }
  .nav-link {
    color: var(--color-oscuro2);
  }
  .navbar-collapse {
    background-color: var(--color-claro2);
    display: flex;
    justify-content: center !important;
    width: 114% !important;
    margin-left: -7% !important;
    margin-top: -3rem !important;
  }
  .navbar-nav li {
    height: auto;
  }
  .nav-item.dropdown {
    margin: 0;
  }
  .navbar-nav .nav-item {
    width: 100rem;
    text-align: center;
  }
  .nav-item a {
    padding: 0.8rem;
  }
  .navbar-toggler.lg:focus,
  .navbar-toggler.lg:focus-visible,
  .navbar-toggler.lg:hover,
  .navbar-toggler.lg:active {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-nav .dropdown-menu {
    width: 100%;
    left: 0;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    width: 100%;
    text-align: center;
  }
  .dropdown-menu li {
    background-color: var(--color-claro1) !important;
  }
  .logo {
    width: 20rem;
    height: auto;
    padding: 1.2rem 0 1.2rem 0;
  }
  /*----------------------------------*/
  /*Sección experiencias de INICIO*/
  .experiencia__grupo.lg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  /*----------------------------------*/
  /*Esta sección se repite al FINAL de todas las páginas*/
  .columnas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .columnas__section__navbar, .columnas__section p span {
    display: none;
  }
  .columnas__section__contact, .columnas__section__navbar2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .final {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .final__copyright, .final__por {
    padding-top: 1.2rem;
  }
}
/*xl de Bootstrap*/
@media only screen and (max-width: 1140px) {
  /*Trabajando el NAVBAR*/
  .navbar1 {
    padding-left: var(--margen-lateral2);
    padding-right: var(--margen-lateral2);
  }
  /*----------------------------------*/
  /*Cabecera o BANNER de INICIO*/
  .cabecera {
    height: 44rem;
    text-align: center;
  }
  .banner2, .banner3, .banner4, .banner5 {
    height: 36rem;
    text-align: center;
  }
  .cabecera__cta, .banner_desc {
    width: 100%;
    background: var(--color-azul-transparencia);
    padding-right: var(--margen-lateral);
    display: grid;
    align-content: center;
  }
  .cabecera__cta p, .cabecera__cta h1, .banner_desc p, .banner_desc h1 {
    color: #FFFFFF;
  }
  .cabecera__cta a, .banner_desc a {
    color: var(--color-claro2);
    background-color: var(--color-azul);
    border: 0.25rem solid var(--color-claro2);
    justify-self: center;
  }
  /*--------------------------------------------*/
  /*Esta es para el main PAGINAS*/
  /* Estilos para la imagen circular */
  .informacion__grupo img {
    width: 20rem;
    height: 20rem;
  }
}

/*# sourceMappingURL=Styles_CSS.css.map */
